@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #2929e1;
}

section {
  padding: 5rem 4%;
}

.titulo {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: #444;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: 0.1rem solid #2929e1;
  background: #2929e1;
  color: #fff;
  cursor: pointer;
}
.btn:hover {
  background: #2da4f3;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transform: translateY(-10rem);
}
.header.active {
  transform: translateY(0rem);
}
.header .logo {
  margin-right: auto;
  font-size: 2.5rem;
  color: #444;
  font-weight: bolder;
}
.header .logo i {
  color: #2929e1;
}
.header .navbar {
  position: relative;
}
.header .navbar #close-navbar {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  color: #444;
  display: none;
}
.header .navbar #close-navbar:hover {
  transform: rotate(90deg);
}
.header .navbar a {
  margin-right: 2rem;
  font-size: 2rem;
  color: #444;
}
.header .navbar a:hover {
  color: #2929e1;
}
.header .icons div {
  cursor: pointer;
  font-size: 2.5rem;
  color: #444;
  margin-left: 2rem;
}
.header .icons div:hover {
  color: #2929e1;
}
.header #menu-btn {
  display: none;
}

/* COMEÇO SECTION INICIO  */
.inicio {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(110deg, #fff 48%, rgba(196, 196, 196, 0) 5%), url(../img/foto1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  animation: background 20s alternate infinite;
  padding-top: 10rem;
}
.inicio .content {
  position: relative;
}
.inicio .content h1 {
  font-size: 5rem;
  color: #4800ff;
  padding-bottom: 1rem;
}
.inicio .content h2 {
  font-size: 4.2rem;
  color: #333;
  padding-bottom: 1rem;
}
.inicio .content h3 {
  font-size: 3.8rem;
  color: #333;
  padding-bottom: 3rem;
}
.inicio .content .redes {
  position: absolute;
  bottom: -35%;
  width: 100%;
}
.inicio .content .redes a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  margin-right: 1.5rem;
  background: #280483;
  color: #fff;
  border-radius: 5rem;
  font-size: 3rem;
  transition: 0.6s;
}
.inicio .content .redes a:hover {
  text-decoration: none;
  background: #eee;
  color: #4800ff;
}

.skills .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}
.skills .box-container .box {
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid #2929e1;
  background: #eee;
}
.skills .box-container .box:hover {
  background: #2929e1;
}
.skills .box-container .box:hover h3 {
  color: #fff;
}
.skills .box-container .box:hover p {
  color: #fff;
}
.skills .box-container .box img {
  height: 10rem;
  margin-bottom: 0.5rem;
}
.skills .box-container .box h3 {
  font-size: 2rem;
  color: #444;
  padding: 0.5rem 0;
}

.projetos .container-modal {
  padding: 3rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}
.projetos .container-modal .titulo {
  font-size: 3rem;
  color: #444;
  margin-bottom: 3rem;
  text-transform: uppercase;
  text-align: center;
}
.projetos .container-modal .modal-principal-slider {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2rem;
}
.projetos .container-modal .modal-principal-slider .image-modal {
  text-align: center;
  padding: 3rem 2rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #ccc;
  outline-offset: -1.5rem;
  cursor: pointer;
}
.projetos .container-modal .modal-principal-slider .image-modal:hover {
  outline: 0.1rem solid #222;
  outline-offset: 0;
  transform: scale(0.9);
}
.projetos .container-modal .modal-principal-slider .image-modal img {
  height: 25rem;
  cursor: pointer;
}
.projetos .container-modal .modal-principal-slider .image-modal h3 {
  font-size: 2rem;
  padding-top: 1.5rem;
}
.projetos .container-modal .modal-principal-slider .swiper-button-next,
.projetos .container-modal .modal-principal-slider .swiper-button-prev {
  border: 0.5 solid blue;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  color: green;
  background: rgba(255, 255, 255, 0.203);
}
.projetos .container-modal .modal-principal-slider .swiper-button-next::after,
.projetos .container-modal .modal-principal-slider .swiper-button-prev::after {
  font-size: 3.5rem;
}
.projetos .container-modal .modal-principal-slider .swiper-button-next:hover,
.projetos .container-modal .modal-principal-slider .swiper-button-prev:hover {
  background: red;
  color: #fff;
}
.projetos .modal {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(42, 6, 249, 0.171);
  display: none;
  align-items: center;
  justify-content: center;
}
.projetos .modal .modal-conteudo {
  padding: 3rem;
  text-align: center;
  background: #fff;
  position: relative;
  width: 40rem;
}
.projetos .modal .modal-conteudo .modal-fechar {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  font-size: 3rem;
  color: #444;
  cursor: pointer;
}
.projetos .modal .modal-conteudo .modal-fechar:hover {
  transform: rotate(90deg);
}
.projetos .modal .modal-conteudo .modal-header img {
  height: 25rem;
}
.projetos .modal .modal-body h3 {
  font-weight: 500;
  padding: 10px 0;
  font-size: 2.2rem;
  color: red;
}
.projetos .modal .modal-body p {
  line-height: 1.2rem;
  padding: 1rem 0;
  font-size: 1.8rem;
  color: #777;
}
.projetos .modal .modal-body i {
  font-size: 6rem;
}
.projetos .modal .modal-footer h3 {
  font-size: 1.8rem;
  padding: 2rem;
}
.projetos .modal .modal-footer .botao {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}
.projetos .modal .modal-footer .botao a {
  width: 5rem;
  padding: 0.6rem;
  font-size: 3rem;
  color: rgb(68, 68, 68);
  border: 0.2rem solid #444;
  border-radius: 50%;
}
.projetos .modal .modal-footer .botao .link-site:hover {
  background: #444;
  color: #fff;
}
.projetos .modal .modal-footer .botao .link-github:hover {
  background: #444;
  color: #fff;
}

.contato .mensagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato .mensagem form {
  width: 30%;
  border: 0.1rem solid #2929e1;
  padding: 1rem;
}
.contato .mensagem form h3 {
  font-size: 2.5rem;
  color: #444;
  padding-bottom: 1rem;
}
.contato .mensagem form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: 0.1rem solid #2929e1;
  font-size: 1.6rem;
  margin: 0.7rem 0;
}
.contato .mensagem form .box:focus {
  background: #2929e1;
  color: #fff;
}
.contato .mensagem form .box:focus::placeholder {
  color: #2da4f3;
}
.contato .mensagem form textarea {
  height: 10rem;
  resize: none;
}

.footer {
  background: #c5bcdd;
  padding: 2rem;
}
.footer .credito {
  text-align: center;
  font-size: 2rem;
  color: #444;
}
.footer .credito span {
  color: #2929e1;
}

@media (max-width: 991px) {
  html {
    font-size: 65%;
  }
  .inicio .content h1 {
    font-size: 4rem;
  }
  .inicio .content h2 {
    font-size: 3.4rem;
  }
  .inicio .content h3 {
    font-size: 2.8rem;
  }
  .inicio .content .redes a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 3rem;
    transition: 0.6s;
  }
}
@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 20rem;
    background: #fff;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 1000;
  }
  .header .navbar #close-navbar {
    display: block;
  }
  .header .navbar.active {
    box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
    right: 0;
  }
  .header .navbar a {
    display: block;
    margin: 1rem 0;
    text-align: center;
    font-size: 2.5rem;
  }
  .inicio .content h1 {
    font-size: 4rem;
  }
  .inicio .content h2 {
    font-size: 3.2rem;
  }
  .inicio .content h3 {
    font-size: 2.5rem;
  }
  .inicio .content .redes a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 2.8rem;
    transition: 0.6s;
  }
  .contato .titulo {
    font-size: 3rem;
  }
  .contato .mensagem form {
    width: 80%;
    border: 0.1rem solid #2929e1;
    padding: 1rem;
  }
  .contato .mensagem form h3 {
    font-size: 2.2rem;
    color: #444;
    padding-bottom: 1rem;
  }
  .contato .mensagem form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #2929e1;
    font-size: 1.8rem;
    margin: 0.7rem 0;
  }
  .contato .mensagem form .btn {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
  .inicio {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(125deg, #fff 48%, rgba(196, 196, 196, 0) 5%), url(../img/foto1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: background 10s alternate infinite;
    padding-top: 7rem;
  }
  .inicio .content h1 {
    font-size: 2.4rem;
  }
  .inicio .content h2 {
    font-size: 1.8rem;
  }
  .inicio .content h3 {
    font-size: 1.6rem;
  }
  .inicio .content .redes {
    position: absolute;
    bottom: -15%;
    width: 100%;
  }
  .inicio .content .redes a {
    height: 2.8rem;
    width: 2.8rem;
    line-height: 2.8rem;
    margin-right: 0.8rem;
    font-size: 1.6rem;
    transition: 0.6s;
  }
  .skills .titulo {
    font-size: 2.8rem;
  }
  .skills .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }
  .skills .box-container .box img {
    height: 6rem;
    margin-bottom: 0.5rem;
  }
  .skills .box-container .box h3 {
    font-size: 1.8rem;
    color: #444;
    padding: 0.5rem 0;
  }
  .skills .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #444;
  }
  .projetos .titulo {
    font-size: 2.8rem;
  }
  .projetos .slide {
    text-align: center;
  }
  .projetos .slide:hover .image .links-projeto {
    bottom: 0;
  }
  .projetos .slide .image {
    position: relative;
    overflow: hidden;
    height: 26rem;
    width: 26rem;
    margin: auto;
  }
  .projetos .slide .image img {
    width: 100%;
  }
  .projetos .slide .image .links-projeto {
    position: absolute;
    bottom: -10;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.932);
    padding: 2rem;
    cursor: pointer;
  }
  .projetos .slide .image .links-projeto a {
    font-size: 2.4rem;
    margin: 0 1rem;
    color: #fff;
  }
  .projetos .slide .image .links-projeto a:hover {
    color: #2929e1;
  }
  .contato .titulo {
    font-size: 2.8rem;
  }
  .contato .mensagem form {
    width: 100%;
    border: 0.1rem solid #2929e1;
    padding: 1rem;
  }
  .contato .mensagem form h3 {
    font-size: 2rem;
    color: #444;
    padding-bottom: 1rem;
  }
  .contato .mensagem form .box {
    width: 100%;
    padding: 1.2rem 1.4rem;
    border: 0.1rem solid #2929e1;
    font-size: 1.3rem;
    margin: 0.7rem 0;
  }
  .contato .mensagem form .btn {
    font-size: 1.2rem;
  }
  .footer {
    padding: 2rem;
  }
  .footer .credito {
    text-align: center;
    font-size: 1.4rem;
    color: #444;
  }
  .footer .credito span {
    color: #2929e1;
  }
}

/*# sourceMappingURL=style.css.map */
