* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

$cor-principal: #2929e1;
$cor-secundaria: #2da4f3;
$trasparente: #2525ff46;
$cor-clara: rgb(179, 217, 255);
$preto: #444;
$branco: #fff;
$borda: 0.1rem solid $cor-principal;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 3rem;
}

@mixin tituloTexto($tituloSize) {
    font-size: $tituloSize;
    color: $preto;
}

@mixin subTexto($subSize) {
    font-size: $subSize;
    line-height: 2;
    color: $preto;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $preto;
    }
}

section {
    padding: 5rem 4%;
}

.titulo {
    text-align: center;
    margin-bottom: 3rem;
    @include tituloTexto(3.5rem);
}

// BOTÃO
.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: $borda;
    background: $cor-principal;
    color: $branco;
    cursor: pointer;

    &:hover {
        background: $cor-secundaria;
        color: $branco;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $branco;
    box-shadow: $box-shadow;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transform: translateY(-10rem);

    &.active {
        transform: translateY(0rem);
    }

    .logo {
        margin-right: auto;
        @include tituloTexto(2.5rem);
        font-weight: bolder;

        i {
            color: $cor-principal;
        }
    }

    .navbar {
        position: relative;

        #close-navbar {
            position: absolute;
            top: 1.5rem;
            right: 2rem;
            font-size: 4rem;
            cursor: pointer;
            color: $preto;
            display: none;

            &:hover {
                transform: rotate(90deg);
            }
        }

        a {
            margin-right: 2rem;
            @include tituloTexto(2rem);

            &:hover {
                color: $cor-principal;
            }
        }
    }

    .icons div {
        cursor: pointer;
        font-size: 2.5rem;
        color: $preto;
        margin-left: 2rem;

        &:hover {
            color: $cor-principal;
        }
    }

    #menu-btn {
        display: none;
    }
}

/* COMEÇO SECTION INICIO  */
.inicio {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(110deg, #000 48%, rgba(196, 196, 196, 0) 5%), url(../img/inicio/foto1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: background 20s alternate infinite;
    padding-top: 1rem;

    .content {
        position: relative;

        h1 {
            font-size: 5rem;
            color: #9270e8;
            padding-bottom: 1rem;
        }

        h2 {
            font-size: 4.2rem;
            color: rgb(240, 229, 229);
            padding-bottom: 1rem;
        }

        h3 {
            font-size: 3.8rem;
            color: rgb(253, 244, 244);
            padding-bottom: 3rem;
        }

        // COMEÇO REDE SOCIAL

        .redes-s {
            display: inline-block;

            a {
                margin: 0 25px;
                text-decoration: none;
                color: #fff;
                display: block;
                position: relative;
                margin: 40px;

                .efeito {
                    width: 55px;
                    height: 55px;
                    transition: transform 0.4s;

                    span {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        border: 1px solid #fff;
                        border-radius: 5px;
                        transition: all 0.3s;

                        &.fab {
                            font-size: 30px;
                            line-height: 55px;
                            text-align: center;
                        }

                        &:nth-child(1) {
                            opacity: 0.2;
                        }
                    }
                }

                .texto {
                    position: absolute;
                    left: 30%;
                    top: -5%;
                    opacity: 0;
                    transform: translateX(-15%);
                    transition: left 0.3s ease;
                    color: #fff;
                    font-size: 2rem;
                }

                &:hover {
                    .texto {
                        left: 180%;
                        opacity: 1;
                    }
                }

                &:hover {
                    .efeito {
                        span {
                            &:nth-child(2) {
                                opacity: 0.4;
                                transform: translate(5px, -5px);
                            }

                            &:nth-child(3) {
                                opacity: 0.6;
                                transform: translate(10px, -10px);
                            }

                            &:nth-child(4) {
                                opacity: 0.8;
                                transform: translate(15px, -15px);
                            }

                            &:nth-child(5) {
                                opacity: 1;
                                transform: translate(20px, -20px);
                            }
                        }
                    }
                }

                &:nth-child(1) {
                    .efeito {
                        span,
                        .texto {
                            color: #0e76a8;
                            border-color: #0e76a8;
                        }
                    }
                    .texto {
                        color: #0e76a8;
                        border-color: #0e76a8;
                    }
                }

                &:nth-child(2) {
                    .efeito {
                        span {
                            color: #fff;
                            border-color: #171515;
                        }
                    }
                    .texto {
                        color: #fff;
                        border-color: #171515;
                    }
                }

                &:nth-child(3) {
                    .efeito {
                        span {
                            color: #25d366;
                            border-color: #075e54;
                        }
                    }
                    .texto {
                        color: #25d366;
                        border-color: #075e54;
                    }
                }

                &:nth-child(4) {
                    .efeito {
                        span {
                            color: #fe3e30;
                            border-color: #fff;
                        }
                    }
                    .texto {
                        color: #fe3e30;
                        border-color: #fff;
                    }
                }

                &:hover:nth-child(1) {
                    .efeito {
                        span {
                            box-shadow: -1px 1px 3px #0e76a8;
                        }
                    }
                }

                &:hover:nth-child(2) {
                    .efeito {
                        span {
                            box-shadow: -1px 1px 3px #171515;
                            box-shadow: -1px 1px 3px #fff;
                        }
                    }
                }

                &:hover:nth-child(3) {
                    .efeito {
                        span {
                            box-shadow: -1px 1px 3px #075e54;
                            box-shadow: -1px 1px 3px #25d366;
                        }
                    }
                }

                &:hover:nth-child(4) {
                    .efeito {
                        span {
                            box-shadow: -1px 1px 3px #fe3e30;
                        }
                    }
                }
            }
        }

        // FINAL REDE SOCIAL
    }

    // @keyframes background {
    //     0%,
    //     100% {
    //         background: linear-gradient(110deg, #fff 48%, rgba(196, 196, 196, 0) 5%), url(../img/foto3.jpg) no-repeat;
    //         background-size: cover;
    //         background-position: center;
    //         background-attachment: fixed;
    //         padding-top: 10rem;
    //     }

    //     25% {
    //         background: linear-gradient(110deg, #fff 48%, rgba(196, 196, 196, 0) 5%), url(../img/foto4.webp) no-repeat;
    //         background-size: cover;
    //         background-position: center;
    //         background-attachment: fixed;
    //         padding-top: 10rem;
    //     }

    //     50% {
    //         background: linear-gradient(110deg, #fff 48%, rgba(196, 196, 196, 0) 5%), url(../img/foto5.jpg) no-repeat;
    //         background-size: cover;
    //         background-position: center;
    //         background-attachment: fixed;
    //         padding-top: 10rem;
    //     }

    //     75% {
    //         background: linear-gradient(110deg, #fff 48%, rgba(196, 196, 196, 0) 5%), url(../img/foto5.jpg) no-repeat;
    //         background-size: cover;
    //         background-position: center;
    //         background-attachment: fixed;
    //         padding-top: 10rem;
    //     }
    // }
}

// COMEÇO DA SECTION HABILIDADES
.skills {
    background: #222;

    .titulo {
        color: #fff;
    }
    .box-container {
        // @include grid(20rem);
        width: 30rem;
        height: 15rem;
        margin: auto;

        .box {
            padding: 1rem;
            text-align: center;
            border: $borda;
            background: #eee;

            &:hover {
                background: $preto;

                h3 {
                    color: $branco;
                }

                p {
                    color: $branco;
                }
            }

            img {
                height: 10rem;
                margin-bottom: 0.5rem;
            }

            h3 {
                @include tituloTexto(2rem);
                padding: 0.5rem 0;
            }
        }
    }
}
// FINAL DA SECTION HABILIDADES

// COMEÇO DA SECTION PROJETOS
.projetos {
    .container-modal {
        padding: 3rem 2rem;
        @include grid(20rem);
        background: rgb(195, 232, 255);

        .titulo {
            font-size: 3rem;
            color: #444;
            margin-bottom: 3rem;
            text-transform: uppercase;
            text-align: center;
        }

        .modal-principal {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
            gap: 2rem;

            .image-modal {
                text-align: center;
                padding: 3rem 2rem;
                background: #fff;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                outline: 0.1rem solid #ccc;
                outline-offset: -1.5rem;
                cursor: pointer;

                &:hover {
                    outline: 0.1rem solid #222;
                    outline-offset: 0;
                    transform: scale(0.9);
                }

                img {
                    height: 20rem;
                    cursor: pointer;
                }

                h3 {
                    font-size: 2rem;
                    padding-top: 1.5rem;
                }
            }

            // .swiper-button-next,
            // .swiper-button-prev {
            //     border: .5 solid blue;
            //     border-radius: 50%;
            //     height: 5rem;
            //     width: 5rem;
            //     color: green;
            //     background: rgba(255, 255, 255, 0.203);
            // }

            // .swiper-button-next::after,
            // .swiper-button-prev::after {
            //     font-size: 3.5rem;
            // }

            // .swiper-button-next:hover,
            // .swiper-button-prev:hover {
            //     background: red;
            //     color: #fff;
            // }
        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 100%;
        background: rgba(42, 6, 249, 0.171);
        display: none;
        align-items: center;
        justify-content: center;

        .modal-conteudo {
            padding: 3rem;
            text-align: center;
            background: #fff;
            position: relative;
            width: 40rem;

            .modal-fechar {
                position: absolute;
                top: 0.8rem;
                right: 0.8rem;
                font-size: 3rem;
                color: #444;
                cursor: pointer;

                &:hover {
                    transform: rotate(90deg);
                }
            }

            .modal-header {
                img {
                    height: 25rem;
                }
            }
        }

        .modal-body {
            h3 {
                font-weight: 500;
                padding: 10px 0;
                font-size: 2.2rem;
                color: red;
            }

            p {
                line-height: 1.2rem;
                padding: 1rem 0;
                font-size: 1.8rem;
                color: #777;
            }

            i {
                font-size: 6rem;
            }
        }

        .modal-footer {
            h3 {
                font-size: 1.8rem;
                padding: 2rem;
            }

            .botao {
                display: flex;
                gap: 1.5rem;
                flex-wrap: wrap;
                margin-top: 1rem;
                justify-content: center;

                a {
                    width: 5rem;
                    padding: 0.6rem;
                    font-size: 3rem;
                    color: rgb(68, 68, 68);
                    border: 0.2rem solid #444;
                    border-radius: 50%;

                    &:hover {
                        // background: #111;
                    }
                }
                .link-site {
                    // background: #444;
                    // color: #fff;
                    &:hover {
                        // background: #111;
                        background: #444;
                        color: #fff;
                    }
                }

                .link-github {
                    &:hover {
                        background: #444;
                        color: #fff;
                    }
                }
            }
        }
    }
}
// FINAL DA SECTION PROJETOS

// COMEÇO SECTION CONTATO
.contato {
    .mensagem {
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            width: 30%;
            border: $borda;
            padding: 1rem;

            h3 {
                @include tituloTexto(2.5rem);
                padding-bottom: 1rem;
            }

            .box {
                width: 100%;
                padding: 1.2rem 1.4rem;
                border: $borda;
                font-size: 1.6rem;
                margin: 0.7rem 0;

                &:focus {
                    background: $cor-principal;
                    color: $branco;

                    &::placeholder {
                        color: $cor-secundaria;
                    }
                }
            }

            textarea {
                height: 10rem;
                resize: none;
            }
        }
    }
}
// FINAL SECTION CONTATO

.footer {
    background: #c5bcdd;
    padding: 2rem;

    .credito {
        text-align: center;
        @include tituloTexto(2rem);

        span {
            color: $cor-principal;
        }
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .inicio {
        .content {
            h1 {
                font-size: 4rem;
            }

            h2 {
                font-size: 3.4rem;
            }

            h3 {
                font-size: 2.8rem;
            }

            // .redes {
            //     a {
            //         height: 5rem;
            //         width: 5rem;
            //         line-height: 5rem;
            //         font-size: 3rem;
            //         transition: 0.6s;
            //     }
            // }
        }
    }

    .skills {
        .titulo {
            font-size: 3rem;
        }

        .box-container {
            // @include grid(15rem);
            width: 34rem;
            height: 25rem;
            padding: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .header {
        #menu-btn {
            display: inline-block;
        }

        .navbar {
            position: fixed;
            top: 0;
            right: -100%;
            width: 20rem;
            background: $branco;
            height: 100vh;
            display: flex;
            flex-flow: column;
            justify-content: center;
            z-index: 1000;

            #close-navbar {
                display: block;
            }

            &.active {
                box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.8);
                right: 0;
            }

            a {
                display: block;
                margin: 1rem 0;
                text-align: center;
                font-size: 2.5rem;
            }
        }
    }

    .inicio {
        min-height: 95vh;
        width: 100vw;
        background: linear-gradient(115deg, #000 42%, rgba(196, 196, 196, 0) 5%), url(../img/inicio/foto1.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: background 10s alternate infinite;
        padding-top: 7rem;

        .content {
            h1 {
                font-size: 3.2rem;
            }

            h2 {
                font-size: 2.6rem;
            }

            h3 {
                font-size: 2rem;
            }

            .redes-s{
                a {
                    margin: 0 25px;
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    position: relative;
                    margin: 30px;

                    .efeito {
                        width: 55px;
                        height: 55px;
                        transition: transform 0.4s;
                        
                    }
                }
            }
        }
    }

    .skills {
        .titulo {
            font-size: 3rem;
        }

        .box-container {
            // @include grid(15rem);
            width: 26rem;
            height: 22rem;
        }
    }

    .contato {
        .titulo {
            font-size: 3rem;
        }

        .mensagem {
            form {
                width: 80%;
                border: $borda;
                padding: 1rem;

                h3 {
                    @include tituloTexto(2.2rem);
                    padding-bottom: 1rem;
                }

                .box {
                    width: 100%;
                    padding: 1.2rem 1.4rem;
                    border: $borda;
                    font-size: 1.8rem;
                    margin: 0.7rem 0;
                }

                .btn {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

@media (max-width: 550px) {


    html {
        font-size: 50%;
    }

    .inicio {
        min-height: 100vh;
        width: 100vw;
        background: linear-gradient(120deg, #000 38%, rgba(196, 196, 196, 0) 5%), url(../img/inicio/foto1-p.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        animation: background 10s alternate infinite;
        padding-top: 4rem;

        .content {
            h1 {
                font-size: 2.4rem;
            }

            h2 {
                font-size: 1.8rem;
            }

            h3 {
                font-size: 1.6rem;
            }

            .redes-s{
                a {
                    margin: 0 25px;
                    text-decoration: none;
                    color: #fff;
                    display: block;
                    position: relative;
                    margin: 24px;

                    .efeito {
                        width: 25px;
                        height: 25px;
                        transition: transform 0.4s;

                        span {
                            position: absolute;
                            top: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                            border: 1px solid #fff;
                            border-radius: 5px;
                            transition: all 0.3s;
    
                            &.fab {
                                font-size: 15px;
                                line-height: 25px;
                                text-align: center;
                            }
    
                        }
                        
                    }

                    .texto {
                        position: absolute;
                        left: 30%;
                        top: -55%;
                        opacity: 0;
                        transform: translateX(-15%);
                        transition: left 0.3s ease;
                        color: #fff;
                        font-size: 1.4rem;
                    }
    
                    &:hover {
                        .texto {
                            left: 220%;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .skills {
        background: #222;
    
        .titulo {
            color: #fff;
        }
        .box-container {
            // @include grid(20rem);
            width: 30rem;
            height: 15rem;
            // margin: auto;
    
            .box {
                padding: 1rem;
                text-align: center;
                border: $borda;
                background: #eee;
    
                &:hover {
                    background: $preto;
    
                    h3 {
                        color: $branco;
                    }
    
                    p {
                        color: $branco;
                    }
                }
    
                img {
                    height: 10rem;
                    margin-bottom: 0.5rem;
                }
    
                h3 {
                    @include tituloTexto(2rem);
                    padding: 0.5rem 0;
                }
            }
        }
    }


    // COMEÇO DA SECTION PROJETOS
.projetos {
    .container-modal {
        padding: 3rem 2rem;
        @include grid(20rem);
        background: rgb(195, 232, 255);

        .titulo {
            font-size: 3rem;
            color: #444;
            margin-bottom: 3rem;
            text-transform: uppercase;
            text-align: center;
        }

        .modal-principal {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
            gap: 2rem;

            .image-modal {
                text-align: center;
                padding: 3rem 2rem;
                background: #fff;
                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
                outline: 0.1rem solid #ccc;
                outline-offset: -1.5rem;
                cursor: pointer;

                &:hover {
                    outline: 0.1rem solid #222;
                    outline-offset: 0;
                    transform: scale(0.9);
                }

                img {
                    height: 14rem;
                    cursor: pointer;
                }

                h3 {
                    font-size: 2rem;
                    padding-top: 1.5rem;
                }
            }

        }
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        min-height: 100vh;
        width: 100%;
        background: rgba(0, 0, 0, 0.723);
        display: none;
        align-items: center;
        justify-content: center;

        .modal-conteudo {
            padding: 4rem;
            text-align: center;
            background: #fff;
            position: relative;
            width: 30rem;

            .modal-fechar {
                position: absolute;
                top: 0.8rem;
                right: 0.8rem;
                font-size: 3rem;
                color: #444;
                cursor: pointer;

                &:hover {
                    transform: rotate(90deg);
                }
            }

            .modal-header {
                img {
                    height: 12rem;
                }
            }
        }

        .modal-body {
            h3 {
                font-weight: 600;
                padding: 10px 0;
                font-size: 2rem;
                color: rgb(0, 0, 0);
            }

            p {
                line-height: 1.2rem;
                padding: 1rem 0;
                font-size: 1.2rem;
                color: #777;
            }

            i {
                font-size: 6rem;
            }
        }

        .modal-footer {
            h3 {
                font-size: 1.8rem;
                padding: 2rem;
            }

            .botao {
                display: flex;
                gap: 1.5rem;
                flex-wrap: wrap;
                margin-top: 1rem;
                justify-content: center;

                a {
                    width: 2rem;
                    padding: 0.6rem;
                    font-size: 1.2rem;
                    color: rgb(68, 68, 68);
                    border: 0.2rem solid #444;
                    border-radius: 50%;

                    &:hover {
                        // background: #111;
                    }
                }
                .link-site {
                    // background: #444;
                    // color: #fff;
                    &:hover {
                        // background: #111;
                        background: #444;
                        color: #fff;
                    }
                }

                .link-github {
                    &:hover {
                        background: #444;
                        color: #fff;
                    }
                }
            }
        }
    }
}




















    // .projetos {
    //     .titulo {
    //         font-size: 2.8rem;
    //     }

    //     .slide {
    //         text-align: center;

    //         &:hover {
    //             .image {
    //                 // img {
    //                 //     background: rgba(0, 0, 0, 0.8);
    //                 // }

    //                 .links-projeto {
    //                     bottom: 0;
    //                 }
    //             }
    //         }

    //         .image {
    //             position: relative;
    //             overflow: hidden;
    //             height: 26rem;
    //             width: 26rem;
    //             margin: auto;

    //             img {
    //                 // background: #fff;
    //                 width: 100%;
    //             }

    //             .links-projeto {
    //                 position: absolute;
    //                 bottom: -10;
    //                 left: 0;
    //                 right: 0;
    //                 background: rgba(0, 0, 0, 0.932);
    //                 padding: 2rem;
    //                 cursor: pointer;

    //                 a {
    //                     font-size: 2.4rem;
    //                     margin: 0 1rem;
    //                     color: $branco;

    //                     &:hover {
    //                         color: $cor-principal;
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }

    // .contato {
    //     .titulo {
    //         font-size: 2.8rem;
    //     }

    //     .mensagem {
    //         form {
    //             width: 100%;
    //             border: $borda;
    //             padding: 1rem;

    //             h3 {
    //                 @include tituloTexto(2rem);
    //                 padding-bottom: 1rem;
    //             }

    //             .box {
    //                 width: 100%;
    //                 padding: 1.2rem 1.4rem;
    //                 border: $borda;
    //                 font-size: 1.3rem;
    //                 margin: 0.7rem 0;
    //             }

    //             .btn {
    //                 font-size: 1.2rem;
    //             }
    //         }
    //     }
    // }

    .footer {
        padding: 2rem;

        .credito {
            text-align: center;
            @include tituloTexto(1.4rem);

            span {
                color: $cor-principal;
            }
        }
    }
}
